<div class=" container mainHeaders bg-light" id="aboutus">
    אודותיי
</div>

<div class="container smallScreen">
    <div class="row">
        <div class="col-md-12 text-white text-center bg-section-one">
            <p class="text-white">
                ​<br>
                היי, שמי נורית זאולר ואני אדריכלית נוף בעלת ותק של מעל 30 שנה בתחום,
                ​<br>
                אני עוסקת בתכנון השקייה ועיצוב של מגוון פרויקטים ברחבי הארץ, כגון:
                ​<br>
                פארקים, איי תנועה, גינות פרטיות, פרויקטים עירוניים ואפילו לקחה חלק בתכנון הנוף של בסיסי צה"ל.
                ​<br><br>

                <strong>
                    עבודתי נעשת בתשוקה רבה והבנת צרכי הלקוחות וצרכי הסביבה כאחד.
                </strong>
            </p>
        </div>
    </div>
</div>