*{
    font-family: 'Assistant', sans-serif;
}
.btn-design{
    background-color: rgba(0, 0, 128, 0.774);
    border: none;
}
.form-design{
    margin-bottom: 1.5%;
    display: block;
    width: 100%;
}
